<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/qabrains/ProtractorTests" class="portfolio-box" target="_blank">
                    <img src="img/portfolio/p.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                AngularJS Test Automation
                            </div>
                            <div class="project-name">
                                E2E Testing with Protractor
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/qabrains/RSpecAPITests" class="portfolio-box" target="_blank">
                    <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Testing APIs
                            </div>
                            <div class="project-name">
                                Writing Tests for APIs in Ruby
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/qabrains/KotlinTests" class="portfolio-box" target="_blank">
                    <img src="img/portfolio/3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Cutting Edge
                            </div>
                            <div class="project-name">
                                Writing Selenium Tests in Kotlin
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            </div>
        </div>
    </div>
</section>
